.header {
  &__title {
    flex-grow: 1;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
  }

  &__btn {
    padding: 5px;
  }

  @media screen and (max-width: 767.98px) {
    &__link {
      font-size: 20px;
    }
  }
}

@media screen and (min-height: 1024px) {
  .dialog {
    height: 50%;
  }
}

@media screen and (max-width: 1023.98px) {
  .dialog {
    height: 70%;
  }
}
